{% extends "ilo/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load form_fields %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}

{% block content %}

<div class="page-section">

    <div id="message"></div>
    

    <section class="container">
        <img class="logo" src="{{ institution.logo.url }}" alt="University of Liverpool Logo">
        <h1 class="logo"><a href="/expertise">[Educator Expertise]</a></h1>
     
        <br>
        <div class="row">
            <div class="col-md-8 ">

                <p>
                    <strong>
                        Welcome to the Educator Expertise web application. 
                    </strong>
                    The information you enter into this application will be used to help inform the allocation
                    of staff to modules in our new curriculum. The aim is to better align staff passions and 
                    expertise with the learning and teaching opportunities available at the time.</p>
                <p><strong>
                    Please note that ticking a box does NOT automatically mean you will teach in the module.
                </strong></p>

                <p>
                    This information will be used in conjunction with discussions with Heads of Department, Education leads, 
                    Deans and Institute leadership to ensure that a holistic approach to teaching allocation has been 
                    undertaken. 
                </p>
                <p>
                    Please select those Intended Learning Outcomes (ILOs) from the list below that you 
                    are able to contribute to. Some ILOs appear to relate to generic skills, please 
                    note the generic ILOs should be understood in the context of the module, not 
                    generally. In cases where the form asks for additional information, please provide 
                    as much details as possible in the context of the module. 
                </p>
                <p>
                    The form will automatically save your responses as you go. You can return to this 
                    page at anytime to update your responses, as your skills and expertise develop. 
                </p>

                <br>


                    <form id="catalogue-form" method="post" action="">
                        {% csrf_token %}
                        {% if errors %}
                            <div class="alert alert-danger" role="alert">
                                <ul>
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}


                        {{ form.staff_id | as_crispy_field }}
                        

                        {% for module in modules %}
                        <h2 id="{{ module.code }}">{{ module.name }}</h2>
                        <table class="table">
                            <tbody>
                                {% for lo in module.los %}
                                <tr>
                                    {% if lo.additional_info %}

                                        {% if lo in response_los %}
                                            <!-- Get active state of corresponding lo in responses -->
                                            {% for response in responses %}
                                                {% if response.learning_objective.id == lo.id %}

                                                    {% if response.active %}
                                                        <td><input type="checkbox" id="checkbox_{{ lo.id }}" name="lo" value="{{ lo.id }}" data-module-code="{{ lo.module.code }}" onchange="sendRequest('{{ lo.id }}', '{{ staff.id }}'); updateModuleCount('{{ lo.module.code }}'); updateModuleCount('{{ lo.module.code }}')" checked></td>
                                                    {% else %}
                                                        <td><input type="checkbox" id="checkbox_{{ lo.id }}" name="lo" value="{{ lo.id }}" data-module-code="{{ lo.module.code }}" onchange="sendRequest('{{ lo.id }}', '{{ staff.id }}'); updateModuleCount('{{ lo.module.code }}'); updateModuleCount('{{ lo.module.code }}')"></td>
                                                    {% endif %}
                                                    <td>
                                                        {{ lo }}
                                                        <br>
                                                    
                                                        <small>Additional info required: {{ lo.additional_info }}</small>
                                                        <!-- text input - do not use form -->
                                                        <input type="text" id="additional_info_{{ lo.id }}" class="form-control" placeholder="Additional info" oninput="checkInput('{{ lo.id }}', '{{ staff.id }}')" value="{{ response.additional_info }}">
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <td>
                                                <input type="checkbox" id="checkbox_{{ lo.id }}" name="lo" value="{{ lo.id }}" data-module-code="{{ lo.module.code }}" onchange="sendRequest('{{ lo.id }}', '{{ staff.id }}'); updateModuleCount('{{ lo.module.code }}')" disabled>
                                            </td>
                                            <td>
                                                {{ lo }}
                                                <br>
                                            
                                                <small>Additional info required: {{ lo.additional_info }}</small>
                                                <!-- text input - do not use form -->
                                                <input type="text" id="additional_info_{{ lo.id }}" class="form-control" placeholder="Additional info" oninput="checkInput('{{ lo.id }}', '{{ staff.id }}')">
                                            </td>
                                    {% endif %}
                                    

                                        
                                    {% else %}
                                        <!-- if lo in responses pre-check the checkbox -->
                                        {% if lo in response_los %}
                                            <!-- Get active state of corresponding lo in responses -->
                                            {% for response in responses %}
                                                {% if response.learning_objective.id == lo.id %}

                                                    {% if response.active %}
                                                        <td><input type="checkbox" id="checkbox_{{ lo.id }}" name="lo" value="{{ lo.id }}" data-module-code="{{ lo.module.code }}" onchange="sendRequest('{{ lo.id }}', '{{ staff.id }}'); updateModuleCount('{{ lo.module.code }}')" checked></td>
                                                    {% else %}
                                                        <td><input type="checkbox" id="checkbox_{{ lo.id }}" name="lo" value="{{ lo.id }}" data-module-code="{{ lo.module.code }}" onchange="sendRequest('{{ lo.id }}', '{{ staff.id }}'); updateModuleCount('{{ lo.module.code }}')"></td>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <td><input type="checkbox" id="checkbox_{{ lo.id }}" name="lo" value="{{ lo.id }}" data-module-code="{{ lo.module.code }}" onchange="sendRequest('{{ lo.id }}', '{{ staff.id }}'); updateModuleCount('{{ lo.module.code }}'); updateModuleCount('{{ lo.module.code }}')"></td>
                                        {% endif %}
                                        <td>{{ lo }}</td>
                                    {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                        
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                <br>
            </div>

            <div col="col-md-4">
                <div id="module-nav">
                {% for module in modules %}
                <p><a href="#{{ module.code }}">{{ module.name|truncatechars:30 }}</a></p>
                {% endfor %}
                </div>  
        </div>
    </section>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(window).scroll(function() {
    var prevH2 = null;
    var currentH2 = null;
    $('h2').each(function() {
        if ($(this).offset().top > $(window).scrollTop()) {
            if (prevH2 == null) {
                prevH2 = this;
            } else if (currentH2 == null) {
                currentH2 = this;
            }
        } else {
            prevH2 = this;
        }
    });
    if (currentH2) {
        $('#module-nav a').css('font-weight', 'normal').css('color', 'white').css('background-color', 'black');
        $('#module-nav a[href="#' + currentH2.id + '"]').css('font-weight', 'bold').css('color', 'black').css('background-color', 'white');
    }
});
function checkInput(loId, staffId) {
    var checkbox = document.getElementById('checkbox_' + loId);
    var additionalInfoInput = document.getElementById('additional_info_' + loId);
    var moduleCode = checkbox.getAttribute('data-module-code');
    console.log('checkInput', loId, staffId, additionalInfoInput);
    if (additionalInfoInput && additionalInfoInput.value.trim() !== '') {
        checkbox.disabled = false;
        checkbox.checked = true;
    } else {
        checkbox.disabled = true;
        checkbox.checked = false;
    }
    sendRequest(loId, staffId);  // call sendRequest
    updateModuleCount(moduleCode);
}

function sendRequest(loId, staffId) {
    var additionalInfoInput = document.getElementById('additional_info_' + loId);
    var additionalInfo = additionalInfoInput ? additionalInfoInput.value : null;
    var checked_value = document.getElementById('checkbox_' + loId).checked;
    console.log(loId, staffId, additionalInfo);


    $.ajax({
        url: '/ilo/create-update/{{ staff.username }}/',  // replace with the URL of your API
        type: 'POST',
        headers: { 'X-CSRFToken': getCookie('csrftoken') },
        data: {
            'lo_id': loId,
            'staff_id': staffId,
            'additional_info': additionalInfo,
            'active': checked_value
        },
        success: function(response) {
            console.log("success")
            // Display the message
            var messageDiv = $('#message');
            messageDiv.text('Your responses have been updated. There is no save button, so don\'t worry!');
            messageDiv.show();

            // Fade out the message after 5 seconds
            setTimeout(function() {
                messageDiv.fadeOut('slow');
            }, 5000);
        },
        error: function(error) {
            console.log("error")
        }
    });
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
<script>
// Call this function every time a checkbox is selected or deselected
function updateModuleCount(moduleCode) {
    var checkboxes = document.querySelectorAll('input[name="lo"]:checked');
    var count = 0;
    checkboxes.forEach(function(checkbox) {
        if (checkbox.getAttribute('data-module-code') === moduleCode) {
            count++;
        }
    });
    var moduleLink = document.querySelector('#module-nav a[href="#' + moduleCode + '"]');
    moduleLink.textContent = moduleLink.textContent.replace(/\(\d+\)$/, '') + ' (' + count + ')';
}

// Call updateModuleCount for all modules when the page loads
window.onload = function() {
    var modules = document.querySelectorAll('#module-nav a');
    modules.forEach(function(moduleLink) {
        var moduleCode = moduleLink.getAttribute('href').substring(1);  // remove the '#' at the start
        updateModuleCount(moduleCode);
    });
};

// Call updateModuleCount when a checkbox is selected or deselected
document.querySelectorAll('input[name="lo"]').forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
        var moduleCode = checkbox.getAttribute('data-module-code');
        updateModuleCount(moduleCode);
    });
});
</script>


{% endblock %}