table {
    border-collapse: separate;
    border-spacing: 0 20px;
}

.date-column {
    white-space: nowrap;
}

td, th {
    vertical-align: top;
}

td a {
    text-decoration: none;
}

.highlight {
    background-color: #8e8e00;
}

/* Make hr a solid white line */
hr {
    border-top: 1px solid white !important;
}

/* Make anchor text default blue in class alert */
.alert a {
    color: #007bff;
}

#dateHeader {
    cursor: pointer;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#resultsTable {
    display: block;
    overflow-x: auto;
}
  
.spinner {
    border: 6px solid #f3f3f3; /* The spinner will be white */
    border-top: 6px solid #000000; /* The top of the spinner will be white */
    background-color: #000000; /* The background will be black */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}