<!-- FILEPATH: /c:/Users/treharne/Documents/canvaswizzards/app/app/templates/app/index.html -->
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas Wizards</title>
    <meta name="description" content="I like to document tools I build for Canvas.">
    <meta name="keywords" content="Canvas LMS, Canvas, Education, Coding, API.">
    <link rel="canonical" href="https://www.canvaswizards.co.uk/">
    <meta property="og:title" content="Canvas Wizards">
    <meta property="og:description" content="Powerful tools and training for the Canvas LMS">
    <meta property="og:image" content="https://github.com/rtreharne/canvaswizardsweb/blob/main/app/front/static/img/site-logo-2.png?raw=true">
    <meta property="og:url" content="https://www.canvaswizards.org.uk/">
    <meta name="twitter:card" content="https://github.com/rtreharne/canvaswizardsweb/blob/main/app/front/static/img/site-logo-2.png?raw=true">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="{% static 'css/main.css' %}">
    {% block css %}
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,500;9..40,600&display=swap" rel="stylesheet">
    <!-- Add JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,500;9..40,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Confetti-->
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>

    
</head>

<body data-spy="scroll" data-target=".navbar">
    
    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer id="footer" style="text-align: left;">
        <div class="container">
            <h3>About</h3>
            <hr style="border: none; height: 2px; background-color: white; ">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Dr. Robert Treharne is a Senior Lectuer in the School of Biosciences, University of Liverpool, UK.
                        He specialises in teaching coding skills to anyone who wants to learn. He has a particular interest in the Canvas LMS and has developed a number of tools and resources to help educators and students get the most out of the platform.
                        He has a PhD in Physics from Durham University.
                    </p>
                    <br>
                    
    
                </div>
                <div class="col-md-6">
                    <img style="border: 2px solid white; max-width: 300px" src="{% static 'img/profile-pic.jpg' %}">
                </div>  
            </div>
        </div>
        <br>
    </footer>
    {% endblock %}


    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        

        document.querySelectorAll('a.nav-link').forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                let target = document.querySelector(this.getAttribute('href'));
                window.scrollTo({
                    top: target.offsetTop,
                    behavior: 'smooth'
                });
            });
        });
    </script>

    {% block js %}
    {% endblock %}
</body>

</html>
