{% extends "front/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<div class="page-section" id="event">
    <section class="container">
        <a href="/"><img class="logo" src="{% static 'img/site-logo-2.png' %}" alt="Canvas Wizards Logo"></a>
        <a href="/">< Back</a>
        <br>
        <br>
        {% if not thanks %}
            {% if form %}
            <h3>Register for ...</h3>
            {% endif %}
        {% endif %}
        <div class="row">

            {% if thanks %}

            <div class="col-md-6">

                
                <div class="event-summary">

                    
                        <h3>{{ thanks }}</h3>
                        <p>You're all registered.</p>
                        <p>I'll send you a reminder 2 days before the event and another on the morning of the event.</p>
                        <p>Keep an eye on my <u><a href="https://twitter.com/robtreharne" target="_blank">X feed</a></u> for any extra information ahead of the event.</p>

                        {% if event.online_info %}
                            <p>This is an online event, here is the information you need (make a note of it and keep it safe):</p>
                            
                                <p class="code-block">{{ event.online_info|urlize }}</p>
                                <button class="copy-button btn-primary" onclick="copyToClipboard('.code-block')">Copy</button>
                                
                                <br>
                                <br>
                        {% endif %}
                                                
                        <p>I look forward to meeting you on the day (if we haven't met you already).</p>
                        <p>See you there!</p>
                        <p>Dr. Rob Treharne</p>
                    
              </div>

              
                
            </div>

            {% endif %}
            
 
            <div class="col-md-6">

                
                <div class="event-summary">
                    <h1>{{ event.name }}</h1>
                    <p>{{ event.long_description|safe }}</p>
                    <p><strong>Date: </strong> {{ event.date }}, {{ event.time }}</p>
                    <p><strong>Location: </strong>{{ event.location }}</p>
                    <p><strong>Duration: </strong>{{ event.duration }} hrs</p>
                    <p><strong>Registrations: </strong>{{ event.registrations }}</p>
                    {% if event.resources %}
                    <p><strong>Resources: </strong><u><a href="{{ event.resources }}" target="_blank">{{ event.resources }}</a></u></p>
                    {% endif %}
                    {% if event.iframe %}
                    <br>
                    <div class="embed-responsive embed-responsive-16by9">
                        {{ event.iframe|safe }}
                    </div>
                    <br>
                    {% endif %}

                </div>
                
            </div>

            


            {% if form %}
            <div class="col-md-6">


                {% if event.fully_booked %}

                    <p><strong>This event is fully booked.</strong></p>

                {% else %}

                <div class="event-summary">

                            
                    <form class="registration-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
            
                </div>


                {% endif %}
            <br>


            {% endif %}
       
        </div>
        </div>
        <br>
      
        <div class="row">
        
            <div class="col-md-12">
  
                {% if resources %}
                    <h3>More Resources</h3>
                    <hr style="border: none; height: 2px; background-color: white;">

                        {% for resource in resources %}
                            {% if resource.url %}
                                <p><a href="{{ resource.url }}" target="_blank">{{ forloop.counter }}. {{ resource.name }}</a></p>
                            {% elif resource.file %}
                                <p><a href="{{ resource.file.url }}" target="_blank">{{ forloop.counter }}. {{ resource.name }}</a></p>
                            {% else %}
                                <p>{{ forloop.counter }}. {{ resource.name }}</p>
                            {% endif %}
                        {% endfor %}

                <br>
                <br>
                {% endif %}
                
            </div>
        </div>

    </section>
</div>

<script>
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>

{% endblock %}