{% extends "front/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<header class="jumbotron page-section" id="home">
    {% if thanks %}
        <span></span><h2 class="thanks">{{ thanks }}</h2></span>
    {% endif %}
    <div class="container" >
        <img class="logo" src="{% static 'img/site-logo.png' %}" alt="Canvas Wizards Logo">
        <span>
            <h1 class="title">Canvas Wizards</h3>
            <h2>Powerful tools and training for the Canvas LMS.</h2>
            <p>
                Canvas Wizards is <u><a href="#footer">Dr. Robert Treharne</a></u>. A Canvas LMS expert and educator.
            </p>
            <br>
            <!-- Events button-->
            <p>
                {% if events %}<a href="#events" class="btn btn-primary">Register for Events</a>{% endif %}
                {% if portfolios %}<a href="#portfolio" class="btn btn-primary">Portfolio</a>{% endif %}
                <a href="#tools" class="btn btn-primary btn-primary">Tools</a>
                <a href="#contact" class="btn btn-primary btn-white">Contact</a></p>
            <p><a class="twitter-link" href="https://twitter.com/robtreharne" target="_blank">Follow me on X</a></p>
        </span>
    </div>
</header>

{% if events %}

<div class="page-section" id="events">
    <section class="container">
        <h3>Events</h3>
        <hr style="border: none; height: 2px; background-color: white;">
        <div class="row">
            {% for event in events %}
            
            <div class="col-md-4 event">
                <div class="event-item">
                <span class="thumb-span">
                    {% if event.in_progress %}
                        <a href = "/past/{{ event.id }}">
                    {% else %}
                    <a href = "/register/{{ event.id }}">
                    {% endif %}
                    <img class="event-thumb-img" src="{{ event.image.url }}" alt="{{ event.name }}">
                    </a>
                </span>
                <div class="event-summary">
                    {% if event.in_progress %}
                        <h2><a href="/past/{{ event.id }}">{{ event.name }}</a></h2>
                    {% else %}
                        <h2><a href="/register/{{ event.id }}">{{ event.name }}</a></h2>
                    {% endif %}
                    <p>{{ event.short_description }}</p>
                    {% if event.in_progress %}
                        <p class="flash-slowly"><strong>**Event in progress**</strong></p>
                    {% endif %}
                    <p><strong>Date: {{ event.date }}, {{ event.time }}</strong></p>
                    <p><strong>Location: {{ event.location }}</strong></p>
                    <p><strong>Duration: {{ event.duration }} hrs</strong></p>
                    <p><small>Registrations: {{ event.registrations|add:event.registrations_online }}</small></p>

                    {% if event.in_progress %}
                        <p><a href="/past/{{ event.id }}">More Info</a></p>
                    {% else %}

                        {% if event.fully_booked %}
                            <p><strong>Fully booked. {% if event.online_info %}You can still register to participate online.{% endif %}</strong></p>
                        {% endif %}
                    <p><a href="/register/{{ event.id }}">More Info</a> | <a href="/register/{{ event.id }}">Register</a></p>
                    {% endif %}
                </div>
                </div>
            </div>
            
            
            {% endfor %}
        </div>

        

    </section>
</div>

{% endif %}

{% if portfolios %}

<div class="page-section" id="portfolio">
    <section class="container">
        <h3>Portfolio</h3>
        <hr style="border: none; height: 2px; background-color: white;">
      
        {% for portfolio in portfolios %}
        <p><a href="/portfolio/{{ portfolio.id }}">{{ portfolio.title }} - {{ portfolio.datetime|date:"D d M Y" }}</a></p>            
        {% endfor %}
        </div>
    </section>
</div>

{% endif %}



{% if tools %}

<div class="page-section" id="tools">
    <section class="container">
        <h3>
            Tools
        </h3>
        <hr style="border: none; height: 2px; background-color: white;">
      
        {% for tool in tools %}
        <p><a href="{{ tool.url }}">{{ tool.title }}</a></p>            
        {% endfor %}
        </div>
    </section>
</div>

{% endif %}

<div class="page-section" id="contact">
    <section class="container">
            <h3>Contact</h3>
            <hr style="border: none; height: 2px; background-color: white;">

            {% if thanks %}
                <p>{{ thanks }}</p>
            {% else %}
                <form class="contact-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ contact_form|crispy }}
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            {% endif %}   
    </section>
</div>


{% endblock %}