input, select, textarea {
    max-width: 100%;
}

a {
    /* default text-decoration */
    text-decoration: underline;
}

.downloaded {
    color: gray;
    /* make link inactive */
    pointer-events: none;
}