{% extends "front/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
<!-- My CSS -->
<link rel="stylesheet" href="{% static 'css/report.css' %}">
<link rel="stylesheet" href="{% static 'css/captionsearch.css' %}">
{% endblock %}

{% block footer %}
<footer id="footer" style="text-align: left;">
    <div class="container">
        <h3>About</h3>
        <hr style="border: none; height: 2px; background-color: white; ">
        <div class="row">
            <div class="col-md-6">
                <p>
                    This neat little app was built by <a href="/">Dr. Robert Treharne</a>. The original idea belongs to <a href="https://www.liverpool.ac.uk/infection-veterinary-and-ecological-sciences/staff/alan-radford/" target="_blank">Prof. Alan Radford</a>.
                </p>
                <br>
                

            </div>
            <!-- <div class="col-md-6">
                <img style="border: 2px solid white; max-width: 300px" src="{% static 'img/profile-pic.jpg' %}">
            </div>   -->
        </div>
    </div>
    <br>
</footer>
{% endblock %}

{% block content %}

<header class="page-section" id="report">

    <div class="container" >
        <a href="/"><img class="logo" src="{% static 'img/site-logo-2.png' %}" alt="Canvas Wizards Logo"></a>
        <h1>Caption Search</h1>
        <br>
        <div class="row">
            
            <div class="col-md-4 ">

                <p>
                    This tool will allow you to perform a keyword search for all video content associated with 
                    the <a href="{{ course.url }}" target="_blank">{{ course.name }}</a> Canvas course. 
                </p>
                <br>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button id="search-button" type="submit" class="btn btn-primary">Search</button>
                    <div id="spinner" class="spinner" style="display: none;"></div>
                </form>
                <br>
                
                {% if captions %}
                <h4>Search Summary</h4>
                <hr>
                <table id="summaryTable">
                    <tbody>
                        <tr>
                            <th>Title</th>
                            <th>Hits</th>
                        </tr>
                        {% for vc in video_counts %}                        
                        
                        <tr>
                            <td class="title-column"><a href="{{ vc.video_url }}" target="_blank">{{ vc.title|truncatechars:30 }}</a></td>
                            <td class="count-column"><a href="?video_id={{ vc.video_id }}&search={{ search }}">{{ vc.count}}</a></td>
                        </tr>
                        </a>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}

            </div>
            
            
            <div class="col-md-8">
                {% if captions %}
                <h2>Results for "<i>{{ query }}</i>" ... </h2>
                <hr>
                
                <table id="resultsTable">
                    <tbody>
                        <tr>
                            <th>Caption Text</th>
                            <th id="dateHeader">Date</th>
                            <th>Title</th>
                            <th>Owner</th>
                        </tr>
                        {% for caption in captions %}
                        <!-- table headers: Caption text, Timestamp, Date, Title, Owner -->
                        
                        
                        <tr>
                            <td><a class="transcript-text" href="{{ caption.transcript_url }}" target="_blank">{{ caption.transcript_text|safe }} - <i></i>{{ caption.transcript_timestamp }}</i></a></td>
                            <td class="date-column">{{ caption.video.date|date:"d/m/y" }}</td>
                            <td class="title-column">{{ caption.title|truncatechars:11 }}</td>
                            <td class="owner-column">{{ caption.owner }}</td>
                        </tr>
                        </a>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            
                
        </div>

    </div>
</header>




<!-- Include jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Your jQuery script -->
<script>
$(document).ready(function() {
    var table = $("#resultsTable");
    var rows = table.find("tr:gt(0)").toArray();
    var asc = false;

    $("#dateHeader").click(function() {
        console.log("I've been clicked")
        asc = !asc;
        rows.sort(function(a, b) {
            var A = $(a).children("td").eq(2).text();
            var B = $(b).children("td").eq(2).text();
            return (new Date(A) < new Date(B) ? -1 : new Date(A) > new Date(B) ? 1 : 0) * (asc ? 1 : -1);
        });
        rows.forEach(function(row) {
            table.append(row);
        });
    });
});

$(document).ready(function() {
    var query = "{{ query }}".split(" ");
    $(".transcript-text").each(function() {
        var transcript = $(this).text();
        for (var i = 0; i < query.length; i++) {
            var pattern = new RegExp('('+ query[i] +')', 'gi');
            transcript = transcript.replace(pattern, '<span class="highlight">$1</span>');
        }
        $(this).html(transcript);
    });
    $(".owner-column").each(function() {
        var transcript = $(this).text();
        for (var i = 0; i < query.length; i++) {
            var pattern = new RegExp('('+ query[i] +')', 'gi');
            transcript = transcript.replace(pattern, '<span class="highlight">$1</span>');
        }
        $(this).html(transcript);
    });
});

$(document).ready(function() {
    $('#search-button').on('click', function() {
        $(this).hide();
        $('#spinner').show();
    });
});
</script>

{% endblock %}

